.footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background: var(--background-dark);
    color: var(--text-light);
    padding: 1vh;
}

.footer-sec-2 a {
    color: var(--seasnail);
}