@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --links: #c56eff;
  --accent: #9a03ff;
  --accent-alt: #a82dfa;
  --background-light: #212121;
  --background-dark: #1B1B23;
  --background-grey: #212121;
  --background-light-grey: #23232e;
  --headers-dark: #212121;
  --headers-light: #d0d0d0;
  --text-dark: #ffffff;
  --text-darker: #ffffff;
  --text-light: #eaeaea;
  --text-alt: #bababa;
  --discord-hovered: #6f86e2;
  --meteor-main: #cc0000;
  --meteor-alt: #a90404;
  --card1: #22222b;
  --card2: #22222b;
  --card3: #22222b;
  --card4: #22222b;
  --seasnail: #fff791;
  --error: #ff0000;
  --discord: #7388da;
  --paypal: #026fba;
  --github: #242a2e;
  --youtube: #ff0201;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #1B1B23;
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
}

#discord {
  background-color: var(--discord);
}

#paypal {
  background-color: var(--paypal);
}

#youtube {
  background-color: var(--youtube);
}

#github {
  background-color: var(--github);
}