.button-container button {
    padding: 10px 30px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button i {
    margin-right: 5px;
}

.button-container button:hover {
    opacity: 90%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    .button-container button {
        margin: 5px;
    }
}