.meteor-logo {
    overflow: visible;
    animation: fill 0.5s ease forwards 3s;

    width: 65%;
    height: 60%;
}

@media screen and (max-width: 1200px) {
    .meteor-logo {
        height: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .meteor-logo {
        height: 30%;
    }
}

@media screen and (max-width: 700px) {
    .meteor-logo {
        height: 20%;
    }
}


.meteor-logo path:nth-child(1) {
    stroke-dasharray: 755px;
    stroke-dashoffset: 755px;
    animation: logoAnim 2s ease forwards;
    stroke-linecap: square;
}

.meteor-logo path:nth-child(2) {
    stroke-dasharray: 464px;
    stroke-dashoffset: 464px;
    animation: logoAnim 2s ease forwards 0.3s;
    stroke-linecap: square;
}

.meteor-logo path:nth-child(3) {
    stroke-dasharray: 337px;
    stroke-dashoffset: 337px;
    animation: logoAnim 2s ease forwards 0.6s;
    stroke-linecap: square;
}

.meteor-logo path:nth-child(4) {
    stroke-dasharray: 464px;
    stroke-dashoffset: 464px;
    animation: logoAnim 2s ease forwards 0.9s;
    stroke-linecap: square;
}

.meteor-logo path:nth-child(5) {
    stroke-dasharray: 549px;
    stroke-dashoffset: 549px;
    animation: logoAnim 3s ease forwards 1.5s;
    stroke-linecap: round;
}

.meteor-logo path:nth-child(6) {
    stroke-dasharray: 549px;
    stroke-dashoffset: 549px;
    animation: logoAnim 3s ease forwards 1.5s, fill-red 0.5s ease forwards 3s;
}

@keyframes logoAnim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #eaeaea;
    }
}

@keyframes fill-red {
    from {
        fill: transparent;
    }
    to {
        fill: #ff0000;
    }
}