.section {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 80%;
    height: 90%;

    display: inherit;
    justify-content: inherit;
    align-items: inherit;

    flex-direction: column;
}

.body h1 {
    font-size: xxx-large;
}

.body p {
    font-size: large;
}

@media screen and (max-width: 700px) {
    .body h1 {
        font-size: xx-large;
    }
}

@media screen and (max-width: 500px) {
    .body h1 {
        font-size: x-large;
    }
}